/* Set the size of the div element that contains the map */
@font-face {
  font-family: uncommonfont;
  src: url(./ROCK.TTF);
}

*{
  color:white !important;
  font-family: uncommonfont;
}


body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #cf9055;
}

#information{
  width: 100vw;
  text-align: center;
}

.container-container{
  text-align: center;
}

.container-group{
  text-align: center;
  background-color: #f1decd;
  padding: 20px;
  display: inline-block;
}

.container{
  height:  40vw;
  margin: 25px;
  float: left;
  display: inline-block;
  min-width: 300px;
  width: 30vw;
  max-width: 1500px;

}

#map{


}

#title{
  width: 100vw;
  text-align: center;
  font-size: 50px;

  margin: 30px;
}

#tweets{
  overflow: scroll;
  background-color: #cf9055;
  text-align:  left;
  max-height: 30vw;
}
